In [ ]:
introduction to list data tye

In [ ]:
How to define list data type

In [1]:
students = ['khadija','anitha','naveen','suresh','david']

In [2]:
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'david']

In [ ]:
#req= want to access anitha name from above list

In [3]:
print(students[1])

anitha

In [ ]:
#req= want to access suresh name from above list

In [4]:
print(students[3])

suresh

In [ ]:
note: name fist letter coming in small

In [5]:
print(students[3].title())

Suresh

In [ ]:
# HOw to add satish name in the list

In [7]:
students.append('satish')

In [8]:
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'david', 'satish']

In [ ]:
# i want to add shoeb in the list

In [9]:
students.append ('shoeb')

In [10]:
print(students)

['khadija', 'anitha', 'naveen', 'suresh', 'david', 'satish', 'shoeb']

In [ ]:
# i want to add tanvir at 2nd indexing position

In [11]:
students.insert(2,'tanvir')

In [12]:
print(students)

['khadija', 'anitha', 'tanvir', 'naveen', 'suresh', 'david', 'satish', 'shoeb']

In [14]:
# want to modify khadija name to rubina

In [16]:
students[0] = 'rubina'

In [17]:
print(students)

['rubina', 'anitha', 'tanvir', 'naveen', 'suresh', 'david', 'satish', 'shoeb']

In [ ]:
# want to delete anith from the above list

In [18]:
del students[1]

In [19]:
print(students)

['rubina', 'tanvir', 'naveen', 'suresh', 'david', 'satish', 'shoeb']